<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
          <div class="my_logo">
          <div class="loader"></div>
          <a class="navbar-brand" href="#myPage">Consoletech IT Solutions</a>
          </div>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">HOME</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="error">
      <h1>404 Error, Page not found </h1>
      </div>


      <footer class="foot">
        <p>Designed and Developed By Dhananjay Thakur</p>
      </footer>
    
</body>
<script src="js/script.js"></script>
</html>